#element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:40%;
    min-height: 30%;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}
